* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100%; */
  height: 981px;
  width: 100%;
  display: flex;
  /* background-color: aqua; */
}

.container {
  /* background-color: #f3f2f1; */
  height: 100%;
  width: 100%;
  /* width: 1596px; */
  /* background-color: black; */
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-left: 35px;
  height: 100%;
  width: 371px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  /* gap: 25.13px; */
} 

#mainLogo {
  width: 168px;
  height: 31.87px;
  /* gap: 35px 36px;  */
  /* padding-top: 36px;
  padding-left: 35px; */

}

.profileMenu {
  display: flex;
  align-items: center;
  width: 286px;
  height: 69px;
  /* background-color: aquamarine; */
  margin-top: 25.13px;
  gap: 0px 25.13px;
  border: 0.5px solid #B5BDCD;
  border-radius: 6px;
}

#profile {
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 40px;
  margin-left: -12px;
  /* margin-top: 14px;  */
  /* background-color: blue; */
}

#name {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2A2A2A;
}

#userType {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #626D82;
}

#dropDown {
  width: 19px;
  height: 19px;
  margin-right: 17px;
  /* background-color: yellowgreen; */
}

#logo {
  width: 41px;
  height: 41px;
  margin-left: 14px;
}

.menu {
  height: 255px;
  width: 286px;
  /* background-color: rgb(243, 190, 190); */
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly */
}

#home {
  display: flex;
  align-items: center;
  width: 286px;
  height: 24px;
  /* background-color: aqua; */
  
}
#docs {
  display: flex;
  align-items: center;
  width: 286px;
  height: 51px;
  left: 35px;
  top: 241px;
  background: #D3F7B5;
  border-radius: 6px;
  margin-top: 17px;
}
#chat {
  display: flex;
  align-items: center;
  width: 286px;
  height: 24px;
  margin-top: 16px;
}
#help {
  display: flex;
  align-items: center;
  width: 286px;
  height: 24px;
  margin-top: 30px;
  /* background-color: black; */
}
#setting {
  display: flex;
  align-items: center;
  width: 286px;
  height: 24px;
  margin-top: 31px;
}

.menuText {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #626D82;
  margin-left: 17px;
  height: 22px;
}
#docText {
  color: #1F4451;
}

#homeLogo{
  width: 24px;
  height: 24px;
  margin-left: 19px;
}
#docLogo {
  width: 24px;
  height: 24px;
  margin-left: 19px;
}
#chatLogo {
  width: 24px;
  height: 24px;
  margin-left: 19px;
}
#helpLogo {
  width: 24px;
  height: 24px;
  margin-left: 19px;
}
#settingLogo {
  width: 24px;
  height: 24px;
  margin-left: 19px;
}

.footerContact {
  /* background-color: #0291c5; */
  width: 289px;
  height: 192px;
  margin-top: 293px;
  display: flex;
  flex-direction: column;
}
#phone {
  height: 33px;
  width: 33px;;
}

.description {
  height: 90px;
  width: 298px;
  margin-top: 19px;
  /* background-color: #D3F7B5; */
  display: flex;
  flex-direction: column;
}
#heading1 {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #1F4451;
}
#desc {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #626D82;
  margin-top: 9px;
}

#contactUs {
  width: 97px;
  height: 34px;
  margin-top: 16px;
  background: #1F4451;
  border-radius: 5px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}



.main {
  width: 1244px;
  height: 981px;
  height: 100%;
  background-color: #f3f2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerInfo {
  width: 1082px;
  height: 130px;
  /* background-color: #2A2A2A; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.tableInfo {
  width: 1084px;
  height: 596px;
  background: #FFFFFF;
  border: 0.5px solid #B5BDCD;
  border-radius: 8px;
}
.leftData {
  display: flex;
  flex-direction: column;
  width:320px;
  /* background-color: #D3F7B5; */
}
.home {
  display: flex;
}

#leftHome{
  width: 44px;
  height: 22px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #436D7C;
}
#rightArrow {
  width: 20px;
  height: 20px;
  margin-left: 14px;
}
#leftDocs{
  width: 168px;
  height: 22px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #B5BDCD;
  margin-left: 14px;
}
.myDocs {
  width: 320px;
  height: 45px;
  font-family: 'Zin Display Demo';
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 39px;
  color: #2A2A2A;
  margin-top: 33px;
}
.Data {
  position: relative;
  display: flex;
  width: 307px;
  height: 47px;
  margin-top: 51px;
  /* background-color: #B5BDCD; */
}
.rightData {
  width: 307px;
  height: 47px;
  border: 0.5px solid #B5BDCD;
  border-radius: 5px;
}
input::placeholder {
  width: 214px;
  height: 19px;
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #B5BDCD;
  padding-left: 17px;;
}
#searchIcon {
  position: absolute;
  width: 16.64px;
  height: 16.64px;
  right: 15px;
  margin-top: 14px;;
}

.docTable {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.docTable tr {
  border-bottom: 1px solid #e8ecf1;
}
.headings {
  /* background-color: #436D7C; */
  height: 56px;
  text-align: left;
}
.headingText {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2A2A2A;
}
#docName {
  width: 415px;
  /* background-color: #1F4451; */
}
#status {
  width: 237px;
}
#modified {
  width: 167px;
}
.checks {
  width: 80px;
}
.checkBox, .ch {
  width: 17px;
  height: 17px;
  margin-left: 28px;
  background: #ffffff;
  background-color: black;
  border: 1.5px solid #bababa;
  border-radius: 2px;
}

.data1, .data2, .data3, .data4, .data5, .data6 {
  height: 90px;
  /* background-color: orange; */
}
.dn {
  
  /* width: 263px;
    height: 19px; */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #436d7c;
}
.status {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 500;
  color: #436d7c;
}
.needsign {
  width: 139px;
  height: 26px;
  border-radius: 22px;
  background-color: #436d7c;
  color: #ffffff;
  line-height: 19.36px;
  padding: 3.5px 8px 6.15px 17.11px;
}
.comp {
  width: 105px;
  height: 26px;
  border-radius: 22px;
  padding: 3.5px 10.56px 6.15px 10.66px;
  color: #1f4451;
  background: #d3f7b5;
}

.pend {
  width: 85px;
  height: 26px;
  color: #626d82;
  padding: 3.5px 8.55px 6.15px 10.63px;
  background: #e8ecf1;
  border-radius: 22px;
}
.wait {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #b5bdcd;
  display: block;
  margin-top: 6px;
  /* background-color: yellowgreen; */
}
.wait span {
  color: #436d7c;
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}
.date {
  width: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: yellowgreen; */
}
.date span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #626d82;
}
.action {
  height: 90px;
  position: relative;
  /* background-color: yellowgreen; */
}
.action button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #626d82; 
  width: 134px;
  height: 34px;
  border: 1px solid #b5bdcd;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 18px;
  cursor: pointer;
}
.action img {
  width: 9px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-link {
  text-decoration: none;
  color: inherit;
}


